{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
	<script src="{% static 'js/meal_setup.js' %}"></script>
{% endblock %}

{% block content %}
	<h2>Set up your meal</h2>
	<form method="POST" class="MealForm">{% csrf_token %}
		<table class="table table-striped">
			{{form.as_table}}
		</table>
		<div class="ribbon text-right">
			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-floppy-disk"></span>
				<span>Save</span>
			</button>
		</div>
	</form>
{% endblock %}