{% extends 'OrganiseLunch/base.html' %} {% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Meal Details</div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-6">Organiser: </div>
                <div class="col-md-6">{{meal.organiser_name}}</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">Meal name: </div>
                <div class="col-md-6">{{meal.meal_name}}</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">Date</div>
                <div class="col-md-6">{{meal.meal_datetime}}</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">Location</div>
                <div class="col-md-6">{{meal.meal_location}}</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">Menu URL</div>
                <div class="col-md-6">{{meal.menu_URL}}</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">Notes</div>
                <div class="col-md-6">{{meal.notes}}</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Create order</div>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="col-md-12">
                    <col-md-6>Starter:</col-md-6>
                    <col-md-6>
                        <input id="id_starter" name="start" type="text" required />
                    </col-md-6>
                </div>
                <div class="col-md-12">
                    <col-md-6>Main:</col-md-6>
                    <col-md-6>
                        <input id="id_main" name="main" type="text" value="2016-11-08" required />
                    </col-md-6>
                </div>
                <div class="col-md-12">
                    <col-md-6>Dessert:</col-md-6>
                    <col-md-6>
                        <input id="id_dessert" name="dessert" type="text" required />
                    </col-md-6>
                </div>
                <div class="col-md-12">
                    <col-md-6>Drink:</col-md-6>
                    <col-md-6>
                        <input id="id_drink" name="drink" type="text" required />
                    </col-md-6>
                </div>
                <div class="col-md-12">
                    <col-md-6>Notes:</col-md-6>
                    <col-md-6>
                        <input id="id_notes" name="notes" type="text" required />
                    </col-md-6>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <button class="button active">Submit Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}